.app {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}
.input-field {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}
.input-field > label {
  font-size: 1.2rem;
}
.delivery-price {
  font-size: 1.5rem;
  font-weight: 600;
}
